@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
}

html {
  background-color: #f3f6f8;
}

body {
  width: 375px;
  height: 100dvh;
  background: black;
  color: white;
  margin: 0px auto;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}